p {
    font-size : 20px;
    padding : 0;
    margin : 0;
    line-height : 20px;
}
#p2 {
    background-color : rgb(202, 24, 24);
}
body {
    background-image: url("cov1.jpg");
    background-color: #be1c1c;
   }
   